<%= form_for(@vehicle_make, :html => {:class => "form-horizontal form-validate"}) do |f| %>
  <% if @vehicle_make.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle_make.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @vehicle_make.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="box-title">
    <h3><i class="glyphicon-car"></i> Vehicle Model Details</h3>
  </div>
  <div class="box-content">
    <div class="control-group">
      <%= f.label :name, "Name", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name, {:class => "input-xlarge", 'data-rule-required' => true} %>
      </div>
    </div>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit :class => "btn btn-green" %>
  </div>
<% end %>