<%= render(:partial => 'layouts/left') %>
<div id="main">
  <div class="container-fluid">
    <%= render(:partial => 'layouts/notice') %>
    <div class="page-header">
      <div class="pull-left">
        <h1>Edit Schedule View</h1>
      </div>
      <div class="pull-right">
        <br>
        <a href="#" class="btn btn-green submit-btn">Update Schedule View</a>
        <%= link_to '<i class="icon-search"></i>'.html_safe, @schedule_view, {:title => 'View', :class => 'btn', 'rel' => 'tooltip', "data-placement" => "bottom", 'data-no-turbolink' => true} %>
        <%= link_to '<i class="icon-list-alt"></i>'.html_safe, schedule_views_path, {:title => "List All",:class => 'btn', "rel" => "tooltip", "data-placement" => "bottom"} %>
      </div>
    </div>
    <div class="breadcrumbs">
      <%= render_crumbs %>
      <div class="close-bread">
        <a href="#"><i class="icon-remove"></i></a>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="box box-condensed box-color box-bordered">
          <%= render 'form' %>
          <div class="actions">
            <a href="#" class="btn btn-green submit-btn">Update Schedule View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
