<%= form_for(@vehicle_model, html: {id: "vehicle-model-form", class: "form-horizontal form-validate"}) do |f| %>
  <% if @vehicle_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle_model.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @vehicle_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="box-title">
    <h3><i class="glyphicon-car" style="position:relative; top: -3px;"></i>Vehicle Model Details</h3>
  </div>
  <div class="box-content">
    <div class="control-group">
      <%= f.label :vehicle_make_id, "Make", :class => "control-label" %>
      <div class="controls">
        <%= collection_select(:vehicle_model, :vehicle_make_id, VehicleMake.all, :id, :name, {:include_blank => "Select Make"}, {:class=>'input-xlarge', 'data-rule-required' => true}) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :name, "Model", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name, {:class => "input-xlarge", 'data-rule-required' => true} %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :number_of_seats, "Number of seats", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :number_of_seats, :class => "input-small" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :daily_rate, "Daily Rate", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :daily_rate, :class => "input-small" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :license_type, "Default License Type", :class => "control-label" %>
      <div class="controls">
        <%= f.select :license_type, options_for_select(VehicleModel::LICENSE_TYPES, @vehicle_model.license_type), prompt: 'Select License Type' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :tags, "Tags", :class => "control-label" %>
      <div class="controls vehicle-model-tags">
        <%= f.text_field :tags, :class => "input-xlarge" %>
        <%= select_tag :all_tags, options_for_select(SearchTag.vehicle_model.map { |tag| tag.name.titleize }), prompt: 'Append Tag' %>
        <%= button_tag "+", id: 'add-tag', class: "btn" %>
      </div>
    </div>
  </div>

  <% if @vehicle_model.persisted? %>
    <div class="box-title">
      <h3><i class="icon-dollar"></i>Vehicle Model Fees</h3>
    </div>
    <div class="box-content fees-subform">
      <%= render 'shared/fees', f: f %> 
    </div>
  <% end %>

  <div class="box-title">
    <h3><i class="glyphicon-paperclip"></i>Attachments</h3>
  </div>
  <div class="box-content">
    <div id="vehicle-model-images">
      <% if @vehicle_model.persisted? and @vehicle_model.images.any? %>
        <div class="row">
          <% inx = -1 %>
          <%= f.fields_for :images do |builder| %>
            <% inx += 1 %>
            <% inxs = inx.to_s.rjust(2, '0') %>
            <%= render 'image_fields', f: builder, inxs: inxs %>
          <% end %>
        </div>  
      <% end %>
    </div>  
  </div>  

  <br><br>
  <div class="actions">
    <%= f.submit :class => "btn btn-green" %>
  </div>
<% end %>