<%= form_for(@off_hire_job, :html => {:class => "form-horizontal form-validate", :id => "off-hire-job-form"}) do |f| %>

  <% if @off_hire_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@off_hire_job.errors.count, "error") %> prohibited this page from being saved:</h2>
      <ul>
      <% @off_hire_job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% if @off_hire_job.off_hire_report %>
    <%= f.hidden_field :off_hire_report_id %>

    <div class="box-title">
      <h3><i class="glyphicon-car"></i>Hire Agreement Details</h3>
    </div>
    <div class="box-content nopadding">
      <table id="vehicle" class="table table-bordered table-force-topborder" style="clear: both">
        <tbody>
          <tr>
            <td>Hire Agreement Ref No</td>
            <td width="80%"><%= @off_hire_report.hire_agreement.uid %></td>
          </tr>
          <tr>
            <td>Vehicle</td>
            <td width="80%"><%= @off_hire_report.hire_agreement.vehicle.ref_name %></td>
          </tr>
          <% if @off_hire_report.hire_agreement.manager %>
            <tr>
              <td>Assigned to</td>
              <td width="80%"><%= @off_hire_report.hire_agreement.manager.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <div class="box-title">
    <h3><i class="icon-time"></i>Schedule Overview</h3>
  </div>
  <div id="off_hire_job_schedule_container" class="box-content nopadding" style="height: 300px;">
    <%= render 'schedule', vehicle: @off_hire_report.hire_agreement.vehicle %>
  </div>

  <div class="box-title">
    <h3><i class="glyphicon-notes_2"></i>Invoice To</h3>
  </div>
  <div class="box-content">
    <div class="control-group">
      <%= f.label :invoice_company_id, "Company", :class => "control-label" %>
      <div class="controls">
        <%= f.collection_select :invoice_company_id, InvoiceCompany.all, :id, :name, {prompt: true}, {:class=>'select2-me span6', 'data-rule-required' => true} %>
        <div style="clear:both"></div>
      </div>
    </div>
  </div>

  <%= f.fields_for :sp_invoice do |builder| %>
    <div class="box-title">
      <h3><i class="glyphicon-notes_2"></i>Service Provider Invoice</h3>
    </div>
    <div class="box-content">
      <div class="control-group">
        <%= builder.label :invoice_number, "Invoice Number", :class => "control-label" %>
        <div class="controls">
          <%= builder.text_field :invoice_number, :class => "input-small" %>
        </div>
      </div>
      <div class="control-group">
        <%= builder.label :upload, "Invoice Upload", :class => "control-label" %>
        <div class="controls" style="padding: 5px;">
          <% if @off_hire_job.sp_invoice && @off_hire_job.sp_invoice.upload.present? %>
            <%= link_to @off_hire_job.sp_invoice.upload_file_name, @off_hire_job.sp_invoice.upload.url(:original) %>
            <div class="upload-box">
              <%= builder.check_box :delete_upload %>
              <%= builder.label :delete_upload, "remove" %>
            </div>
          <% else %>
            <%= builder.file_field :upload %> <br>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="box-title">
    <h3><i class="glyphicon-notes"></i>Off Hire Job Details</h3>
  </div>
  <div class="box-content">

    <div class="control-group">
      <%= f.label :name, "Ref Name", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name, {:class => "span6", 'data-rule-required' => true} %>
      </div>
    </div>

    <hr>

    <div class="control-group">
      <%= f.label :service_provider_id, "Service Provider", :class => "control-label" %>
      <div class="controls">
        <%= f.collection_select :service_provider_id, User.filter_by_service_provider, :id, :company_name, {prompt: true}, {:id => 'service_provider_select', :class=>'select2-me span6', 'data-rule-required' => true} %>
        <a href="" id="service_provider_details_link" class="btn btn-mini" style="margin:3px;"> <i class="icon-search"></i></a>
        <div style="clear:both"></div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :manager_id, "Assign to", :class => "control-label" %>
      <div class="controls">
        <%= f.collection_select :manager_id, User.filter_by_admin, :id, :name, {prompt: true}, {:id => 'admin_select', :class=>'select2-me span6'} %>
        <a href="" id="admin_details_link" class="btn btn-mini" style="margin:3px;"> <i class="icon-search"></i></a>
        <div style="clear:both"></div>
      </div>
    </div>

    <hr>

    <%= f.fields_for :job_subscribers do |builder| %>
      <%= render 'job_subscriber_fields', f: builder %>
    <% end %>

    <div id="subscriber_fields_anchor"></div>

    <%= link_to_add_fields '<i class="icon-plus-sign"></i> Add Subscriber', f, :job_subscribers %>

    <hr>

    <div class="control-group">
      <%= f.label :sched_date_field, "Scheduled Time", :class => "control-label" %>
      <div class="controls">
        <div class="input-append">
          <%= f.text_field :sched_date_field, {:class => "input-small datepick mask_date", 'data-rule-required' => true} %>
          <span class='add-on'><i class='icon-calendar'></i></span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="input-append">
          <%= f.text_field :sched_time_field, {:class => "input-small timepick", 'data-rule-required' => true} %>
          <span class='add-on'><i class='icon-time'></i></span>
        </div>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :etc_date_field, "Complete Time", :class => "control-label" %>
      <div class="controls">
        <div class="input-append">
          <%= f.text_field :etc_date_field, {:class => "input-small datepick mask_date", 'data-rule-required' => true} %>
          <span class='add-on'><i class='icon-calendar'></i></span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="input-append">
          <%= f.text_field :etc_time_field, {:class => "input-small timepick", 'data-rule-required' => true} %>
          <span class='add-on'><i class='icon-time'></i></span>
        </div>
      </div>
    </div>

    <hr>

    <div class="control-group">
      <%= f.label :status, "Status", :class => "control-label" %>
      <div class="controls">
        <div class="check-line">
          <%= radio_button(:off_hire_job, :status, "pending", {:class => "icheck-me", "data-skin" => "square", "data-color" => "orange", :checked => true}) %>
          <%= f.label :status_pending, "Pending", :class => "inline" %>
        </div>
        <div class="check-line">
          <%= radio_button(:off_hire_job, :status, "confirmed", {:class => "icheck-me", "data-skin" => "square", "data-color" => "blue"}) %>
          <%= f.label :status_confirmed, "Confirmed", :class => "inline" %>
        </div>
        <div class="check-line">
          <%= radio_button(:off_hire_job, :status, "complete", {:class => "icheck-me", "data-skin" => "square", "data-color" => "green"}) %>
          <%= f.label :status_complete, "Complete", :class => "inline" %>
        </div>
        <div class="check-line">
          <%= radio_button(:off_hire_job, :status, "cancelled", {:class => "icheck-me", "data-skin" => "square", "data-color" => "red"}) %>
          <%= f.label :status_cancelled, "Cancelled", :class => "inline" %>
        </div>
      </div>
    </div>

    <hr>

    <div class="control-group">
      <%= f.label :details, "Details", :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :details, {:class => "editor span12", 'rows' => 5} %>
      </div>
    </div>
  </div>
<% end %>
