<div id="send-off-hire-job-model" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Send Off Hire Job</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div style="padding: 20px; background: #fbfbfb; border: 1px dashed #DDDDDD">
        <div class="control-group">
          <label for="textfield" id="send_to_label" class="control-label"><b>Send to</b></label>
          <div class="controls">
            <div class="recipients-col" style="margin: 10px 20px;">
              <% if @off_hire_job.service_provider %>
                <div class="check-line">
                  <input type="checkbox" id="c_service_provider" class='icheck-me' data-skin="square" data-color="blue" data-service_provider_id="<%= @off_hire_job.service_provider.id %>"> <label class='inline' for="c_service_provider">Service Provider - <%= @off_hire_job.service_provider.company_name_short unless @off_hire_job.service_provider.company_name_short == "[#{@off_hire_job.service_provider.email}]" %> (<%= @off_hire_job.service_provider.email %>)</label>
                </div>
              <% end %>
              <% if @off_hire_job.manager %>
                <div class="check-line">
                  <input type="checkbox" id="c_manager" class='icheck-me' data-skin="square" data-color="blue" data-admin_id="<%= @off_hire_job.manager.id %>"> <label class='inline' for="c_manager">Manager - <%= @off_hire_job.manager.company_name_short unless @off_hire_job.manager.company_name_short == "[#{@off_hire_job.manager.email}]" %> (<%= @off_hire_job.manager.email %>)</label>
                </div>
              <% end %>
              <% @off_hire_job.subscribers.each do |subscriber| %>
                <div class="check-line">
                  <input type="checkbox" id="c_subscriber_<%= subscriber.id %>" class='icheck-me subscriber' data-skin="square" data-color="blue" data-subscriber_id="<%= subscriber.id %>"> <label class='inline' for="c_subscriber_<%= subscriber.id %>">Subscriber - <%= subscriber.company_name_short unless subscriber.company_name_short == "[#{subscriber.email}]" %> (<%= subscriber.email %>)</label>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <br>
        <div class="control-group">
          <label for="email_message" id="message_label" class="control-label"><b>Message</b></label>
          <div class="controls">
            <textarea name="email_message" id="email_message" class="span12" rows="5">Please review the following job.</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-grey" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <%= link_to "Send", {:action => 'send_notifications', :off_hire_job_id => @off_hire_job.id}, {:class => 'btn btn-satblue', :id => 'email_send_button'} %>
  </div>
</div>
