<%= render(:partial => 'layouts/left') %>
<div id="main">
  <div class="container-fluid">
    <%= render(:partial => 'layouts/notice') %>
    <div class="page-header">
      <div class="pull-left">
        <h1>Notifications</h1>
      </div>
      <div class="pull-right">
        <br>
        <% if can? :create, Notification %>
          <%= link_to '<i class="icon-plus-sign"></i> Add New Notification'.html_safe, new_notification_path, {:class => 'btn btn-grey'} %>
        <% end %>
      </div>
    </div>
    <div class="breadcrumbs">
      <%= render_crumbs %>
      <div class="close-bread">
        <a href="#"><i class="icon-remove"></i></a>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="box box-condensed box-color box-bordered">
          <div class="box-title">
            <h3><i class="glyphicon glyphicon-flag" style="position:relative; top: -3px;"></i>All Notifications</h3>
            <div class="show-all-check">
              <input type="checkbox" id="show-all" class="icheck-me" data-skin="square" data-color="red" value="false">
              <label for="show-all"><i class="icon-question-sign" title="Completed Notifications filtered by default" rel="tooltip" data-placement="top"></i> Show All</label>
            </div>
            <%= manual_link('notifications') %>
          </div>
          <div class="box-content nopadding">
            <table class="table table-hover table-nomargin dataTable dataTable-ajax dataTable-tools dataTable-colvis dataTable-scroll-x table-bordered" data-source="<%= notifications_url(format: "json", filtered_user: params[:filtered_user_id]) %>">
              <thead>
                <tr>
                  <th data-orderable="false">Event Name</th>
                  <th data-orderable="false">Resource</th>
                  <th data-orderable="false">Emails required?</th>
                  <th data-orderable="false">Due Date</th>
                  <th data-orderable="false">Completed Date</th>
                  <th data-orderable="false">Actions</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
