<%= render(:partial => 'layouts/left') %>
<div id="main">
  <div class="container-fluid">
    <%= render(:partial => 'layouts/notice') %>
    <div class="page-header">
      <div class="pull-left">
        <h1>New Notification</h1>
      </div>
      <div class="pull-right">
        <br>
        <a href="#" class="btn btn-green submit-btn">Create Notification</a>
        <%= link_to '<i class="icon-list-alt"></i>'.html_safe, notifications_path, {:title => "List All",:class => 'btn', "rel" => "tooltip", "data-placement" => "bottom"} %>
      </div>
    </div>
    <div class="breadcrumbs">
      <%= render_crumbs %>
      <div class="close-bread">
        <a href="#"><i class="icon-remove"></i></a>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="box box-condensed box-color box-bordered">
          <%= render 'form' %>
          <div class="actions">
            <a href="#" class="btn btn-green submit-btn" id="submit-notification">Create Notification</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
