<%= render(:partial => 'layouts/left') %>
<div id="main">
  <div class="container-fluid">
    <%= render(:partial => 'layouts/notice') %>
    <div class="page-header">
      <div class="pull-left">
        <h1>Allocated Stock</h1>
      </div>
      <div class="pull-right">
        <br>
        <% if can? :create, Stock %>
          <%= link_to '<i class="icon-plus-sign"></i> Add New Stock'.html_safe, new_stock_path, {:class => 'btn btn-lightgrey'} %>
        <% end %>
      </div>
    </div>
    <div class="breadcrumbs">
      <%= render_crumbs %>
      <div class="close-bread">
        <a href="#"><i class="icon-remove"></i></a>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="box box-condensed box-color box-bordered">
          <div class="box-title">
            <h3><i class="glyphicon-barcode"></i>Stock items</h3>
          </div>
          <div class="box-content nopadding">
            <table class="table table-hover table-nomargin dataTable dataTable-ajax dataTable-tools dataTable-colvis dataTable-scroll-x table-bordered" data-source="<%= stocks_url(format: "json", filtered_user: params[:filtered_user_id]) %>">
              <thead>
                <tr>
                  <th>Stock</th>
                  <th>VIN Number</th>
                  <th>Year, Make, Model</th>
                  <th data-orderable="false">Transmission</th>
                  <th>Supplier</th>
                  <th>ETA</th>
                  <th data-orderable="false">Actions</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
