<%= render(:partial => 'layouts/left') %>
<div id="main">
  <div class="container-fluid">
    <%= render(:partial => 'layouts/notice') %>
    <div class="page-header">
      <div class="pull-left">
        <h1>Employees</h1>
      </div>
      <div class="pull-right">
        <br>
        <% if can? :create, User %>
          <%= link_to '<i class="icon-plus-sign"></i> New Employee'.html_safe, employee_new_user_path, {:class => 'btn btn-lightgrey'} %>
        <% end %>
      </div>
    </div>
    <div class="breadcrumbs">
      <%= render_crumbs %>
      <div class="close-bread">
        <a href="#"><i class="icon-remove"></i></a>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="box box-condensed box-color box-bordered">
          <div class="box-title">
            <h3><i class="glyphicon-group" style="position:relative; top: -3px;"></i>Employees</h3>
          </div>
          <div class="box-content nopadding">
            <%= render 'list' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
