<% present(@hire_addon) do |addon| %>
  <%= render(:partial => 'layouts/left') %>
  <div id="main">
    <div class="container-fluid">
      <%= render(:partial => 'layouts/notice') %>
      <div class="page-header">

        <div class="pull-left">
          <h1><%= "Hire Add-on: #{addon.name}" %></h1>
        </div>
        <div class="pull-right">
          <br>
          <%= link_to '<i class="icon-list-alt"></i>'.html_safe, hire_addons_path, {:title => "List All",:class => 'btn', "rel" => "tooltip", "data-placement" => "bottom"} %>
          <%= link_to '<i class="icon-edit"></i>'.html_safe, {:action => 'edit', :id => addon.id}, {:title => 'Edit', :class => 'btn', 'rel' => 'tooltip', "data-placement" => "bottom"} %>
        </div>
      </div>
      <div class="breadcrumbs">
        <%= render_crumbs %>
        <div class="close-bread">
          <a href="#"><i class="icon-remove"></i></a>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <div class="box box-condensed box-color box-bordered">
            <div class="box-title">
              <h3><i class="glyphicon-link" style="position:relative; top: -2px;"></i>Hire Add-on Details</h3>
            </div>
            <div class="box-content nopadding">
              <table id="user" class="table table-bordered table-force-topborder" style="clear: both">
                <tbody>
                  <tr>
                    <td width="25%">Hire Add-on Type</td>
                    <td width="70%"><%= addon.addon_type %></td>
                  </tr>
                  <tr>
                    <td width="25%">Add-on Model</td>
                    <td width="70%"><%= addon.hire_model_name %></td>
                  </tr>
                  <tr>
                    <td width="25%">Hire Price</td>
                    <td width="70%"><%= addon.hire_price_display %></td>
                  </tr>
                  <tr>
                    <td width="25%">Billing Period Frequency</td>
                    <td width="70%"><%= addon.billing_frequency.titleize %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
