<%= render(:partial => 'layouts/left') %>
<div id="main">
  <div class="container-fluid">
    <%= render(:partial => 'layouts/notice') %>
    <div class="page-header build-specification">
      <div class="pull-left">
        <h3><%= "Complete Build Specification Sheet for #{@build.number}" %></h3>
      </div>
      <div class="pull-right">
        <%= link_to '<i class="icon-file"></i> Download PDF'.html_safe, complete_build_build_specification_path(@build, format: "pdf"), {:title => 'Download PDF', :class => 'btn', 'rel' => 'tooltip', "data-placement" => "bottom"} %>
      </div>
    </div>
    <div class="breadcrumbs">
      <%= render_crumbs %>
      <div class="close-bread">
        <a href="#"><i class="icon-remove"></i></a>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <table id="build-specification-header">
          <tr>
            <td colspan="2"><h3>Build Specification Sheet</h3>for Quality Bus & Coach</td>
            <td><%= image_tag "https://secure.bus4x4.com.au#{@build.invoice_company.logo.url(:large)}", :alt => "#{@build.invoice_company.name}" %></td>
          </tr>
          <tr>
            <td class="vehicle-details"> Vehicle details</td>
            <td>Model: <%= @build.vehicle.model.name %></td>
            <td>VIN number: <%= @build.vehicle.vin_number %></td>
          </tr>
        </table>
        
        <table id="standard-features">  
          <tr class="feature">
            <td colspan='2'><h3>Standard Features</h3></td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>DOORS</td>
            <td>
              <% t(".doors").each_with_index.map do |line| %>
                <p><%= line[1] %></p>
              <% end %>
            </td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>WINDOWS</td>
            <td>
              <table id="inner">
                <tr>
                  <td><span style="font-weight:bold">Front windscreen:</span></td>
                  <td>1 piece fixed glass in clear laminated safety glass<td>
                </tr>
                <tr>
                  <td></td>
                  <td>Left & right electric blinds</td>
                </tr>
                <tr>
                  <td><span style="font-weight:bold">Side glass:</span></td>
                  <td>Fixed glass + 2 hopper windows per side</td>
                </tr>
                <tr>
                  <td><span style="font-weight:bold">Drivers' window:</span></td>
                  <td>Portal toll window with manual blind</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>ROOF HATCHES</td>
            <td>2 emergency exit hatches to roof</td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>BUMPER BARS</td>
            <td>Front fiberglass - Rear with reflective decals</td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>MIRRORS</td>
            <td>
              <table id="inner">
                <tr>
                  <td><span style="font-weight:bold">Exterior:</span></td>
                  <td>2 factory Isuzu mirrors supplied</td>
                </tr>
                <tr>
                  <td><span style="font-weight:bold">Interior:</span></td>
                  <td>1 Rappard mirror fitted to centre windscreen pillar</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>STEPWELL</td>
            <td>Heavy duty steel with vinyl sides & risers & heavy duty studded rubber to </td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>FLOOR</td>
            <td>Waterproof plywood flooring bonded and screwed to frame</td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>FLOOR COVERING</td>
            <td>Grey vinyl</td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>INTERIOR PANELLING</td>
            <td>
              <table id="inner">
                <tbody>  
                  <tr>
                    <td style="width:50%"><span style="font-weight:bold">Side linings: </span>Mica - light grey</td>
                    <td style="width:50%"><span style="font-weight:bold">Pillars: </span>Alluminium covered with light grey vinyl</td>
                  </tr>
                  <tr>
                    <td><span style="font-weight:bold">Centre ceiling: </span>Mica - white</td>
                    <td><span style="font-weight:bold">Front and rear headers: </span>standard fibreglass</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>AIR CONDITIONING</td>
            <td>Thermoking - cool with fixed vents</td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>EXTERIOR LIGHTS</td>
            <td>
              <table id="inner">
                <tbody>  
                  <tr>
                    <td style="width:50%"><span style="font-weight:bold">Head lamps: </span>Isuzu factory supplied</td>
                    <td style="width:50%"><span style="font-weight:bold">Reverse lamps: </span>LED</td>
                  </tr>
                  <tr>
                    <td>Reflectors where required</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>SPEAKERS</td>
            <td>6 x standard speakers</td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>STICKERS</td>
            <td>4 x Emergency exit - 1 large, 1 small, 1 stone, 1 hammer - 1 x Diesel</td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>MODESTY PANEL</td>
            <td>Mica & Aluminium tube partition</td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>REVERSE CAMERA</td>
            <td>Supplied to operate with standard Isuzu multimedia system.<br>1 x reverse buzzer</td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>ACCESSORIES</td>
            <td>1 x public address system with drivers microphone on arm</td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>STORAGE</td>
            <td>Through bin at rear with both sides lockable lift up access<br>Left hand side toolbox</td>
          </tr>
        </table>

        <table id="custom-features">  
          <tr class="feature">
            <td colspan='2'><h3>Customized Features</h3></td>
          </tr>

          <tr class="feature">
            <td bgcolor='#E9E9E9'>PASSENGER DOOR</td>
            <td><%= @spec_presenter.passenger_door %></td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>PAINT</td>
            <td><%= @spec_presenter.paint %></td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>HEATING</td>
            <td><%= @spec_presenter.heating %></td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>NO OF SEATS</td>
            <td><%= "#{@build_specification.total_seat_count} (including driver seat)" %></td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>SEATING</td>
            <td><%= @spec_presenter.seating %></td>
          </tr>
          <% if @build_specification.seating_type == BuildSpecification::OTHER_SEATING %>
            <tr class="feature">
              <td bgcolor='#E9E9E9'>OTHER SEATING</td>
              <td><%= @spec_presenter.other_seating %></td>
            </tr>
          <% end %>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>SCHOOL BUS SIGNS</td>
            <td><%= @spec_presenter.school_bus_signs %></td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>SURVEILLANCE SYSTEM</td>
            <td><%= @spec_presenter.surveillance_system %></td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>LIFT UP WHEEL ARCHES</td>
            <td><%= @spec_presenter.lift_up_wheel_arches %></td>
          </tr>
          <tr class="feature">
            <td bgcolor='#E9E9E9'>OTHER COMMENTS</td>
            <td><%= @spec_presenter.other_comments %></td>
          </tr>
        </table>
      </div>
    </div>    
  </div>
</div>