<%= render(:partial => 'layouts/left') %>
<div id="main">
  <div class="container-fluid">
    <%= render(:partial => 'layouts/notice') %>
    <div class="page-header">
      <div class="pull-left">
        <h1>Add Quote Title Page</h1>
      </div>
      <div class="pull-right">
        <br>
        <a href="#" class="btn btn-green submit-btn">Create Title Page</a>
      </div>
    </div>
    <div class="breadcrumbs">
      <%= render_crumbs %>
      <div class="close-bread">
        <a href="#"><i class="icon-remove"></i></a>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="box box-condensed box-color box-bordered">
          <%= render 'form' %>
          <div class="actions" id="create-title-page">
            <% if can? :update, Quote %>
              <%= link_to 'Cancel', edit_quote_path(@quote), class: 'btn btn-grey' %>
            <% end %>
            <a href="#" class="btn btn-green submit-btn">Create Title Page</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
