<%= form_for(@master_quote_summary_page,
      html: {
        class: "form-horizontal form-validate",
        id: "quote-summary-page-form"
      }) do |f| %>
  <% if @master_quote_summary_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@master_quote_summary_page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @master_quote_summary_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="box-title">
    <h3><i class="icon-pencil"></i>Summary Page</h3>
  </div>
  <div class="box-content">
    <%= f.hidden_field :master_quote_id %>

    <div class="control-group">
      <%= f.label :text, "Text", :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :text, {:class => "editor span12", 'rows' => 5} %>
      </div>
    </div>
  </div>
<% end %>
