<%= form_for(@search, html: {id: "hire-quotes-search"}, method: :post, url: {controller: "hire_quotes", action: "search"}) do |f| %>

  <div class="row-fluid">
    <div class="span8 field-filters">
      <div class="control-group">
        <%= f.label :reference, "REF" %><br>
        <%= f.text_field :reference, class: 'search-field', placeholder: 'full number' %>
      </div>

      <div class="control-group">
        <%= f.label :customer_name, "Customer name" %><br>
        <%= f.text_field :customer_name, class: 'search-field', placeholder: 'partial name or email', class: 'customer' %>
      </div>

      <div class="control-group">
        <%= f.label :manager_name, "Manager name" %><br>
        <%= f.text_field :manager_name, class: 'search-field', placeholder: 'partial name', class: 'customer' %>
      </div>

      <div class="control-group">
        <%= f.label :company_name, "Company name" %><br>
        <%= f.text_field :company_name, class: 'search-field', placeholder: 'partial name' %>
      </div>

      <div class="control-group">
        <%= f.label :status, "Status", class: "select" %><br>
        <%= f.select :status, options_for_select(HireQuote::STATUSES.map(&:titleize), @search.status), {include_blank: ''} %>
      </div>

      <div class="control-group">
        <%= f.label :show_all, "Show all", class: "check" %><br>
        <%= f.check_box :show_all, class: "check" %>
      </div> 

      <div class="control-group">
        <%= f.label :sort_field, "Sort by", class: "select" %><br>
        <%= f.select :sort_field, options_for_select(['Hire Quote Ref', 'Customer first name', 'Customer last name', 'Customer email', 'Company Name', 'Hire Status Date'], @search.sort_field) %>
        <%= f.select :direction, options_for_select(['Ascending', 'Descending'], @search.direction) %>
      </div>

      <div class="control-group per-page">
        <%= f.label :per_page, "Per page" %><br>
        <%= f.select :per_page, options_for_select(['10', '20', '30'], @search.per_page) %>
      </div>
    </div>  

    <div class="span4 tag-filters">
      <div class="control-group tags-select">
        <%= label_tag nil, "Choose tag names to filter results:" %><br>
        <%= select_tag nil, options_for_select(SearchTag.hire_quote.map { |tag| tag.name.titleize } ), class: "select2-me", prompt: "Select Tag", id: "tags-select" %>
        <%= button_tag "+", class: "btn btn-blue", id: "add-tag-name" %> 
        <%= button_tag "-", class: "btn btn-blue", id: "remove-tag-name" %> 
      </div>
      <div class="control-group">
        <%= f.select :tags, options_for_selected_quote_tags(@search.tags), {}, {id: "search-tags", multiple: true, size: 4} %>
      </div>
    </div>
  </div>

  <section class="row-fluid buttons">
    <div class="control-group">
      <%= submit_tag "Search", class: "btn btn-blue", id: "submit-search" %> 
      <%= button_tag "Clear", class: "btn btn-blue", id: "clear-all-search-fields" %> 
    </div>
  </section>
<% end %>  
