<% present(@hire_quote) do |quote| %>
  <div id="send-hire-quote-model" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Send Quote</h3>
    </div>
    <div class="modal-body">
      <div style="padding: 20px; background: #fbfbfb; border: 1px dashed #DDDDDD;">
        <div class="row-fluid">
          <div class="control-group">
            <p><b>Send to:</b> <%= quote.customer_email %></p>
          </div>
          <div class="control-group">
            <label for="email_message" id="message_label" class="control-label"><b>Optional Message</b></label>
            <label class="control-label">Hi <%= quote.authorised_contact.first_name %>,</label>
            <div class="controls">
              <textarea name="email_message" id="email-message" class="span12" rows="5"></textarea>
            </div>
          </div>
          <div>
            To access your quote from <%= quote.quoting_company_name %>, go to: <br>
            <%= view_customer_quote_hire_quote_url(@hire_quote) %>
            <br>
            <br>
            Best Regards,
            <br><br>
            <%= "#{quote.manager_name} <br>".html_safe %>
            <%= quote.quoting_company_name %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-grey" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <%= link_to "Send", {:action => 'send_quote', :id => @hire_quote.reference}, {:class => 'btn btn-satblue', :id => 'email-send-button'} %>
    </div>
  </div>
<% end %>