<div id="send-stock-request-model" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="model-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="model-label">Send Stock Request</h3>
  </div>
  <div class="modal-body">
    <div style="padding: 20px; background: #fbfbfb; border: 1px dashed #DDDDDD;">
      <div class="row-fluid">
        <div class="control-group">
          <p><b>Send to:</b> <%= @stock_request.supplier.company_name_short unless @stock_request.supplier.company_name_short == "[#{@stock_request.supplier.email}]" %> (<%= @stock_request.supplier.email %>)</p>
        </div>
        <div class="control-group">
          <label for="email_message" id="message_label" class="control-label"><b>Optional Message</b></label>
          <div class="controls">
            <textarea name="email_message" id="email_message" class="span12" rows="5">Please review the following stock request.</textarea>
          </div>
        </div>
        <div>
          To access this stock request, go to: <br>
          <%= stock_request_url(@stock_request) %>
          <br>
          <br>
          Best Regards,
          <br><br>
          <%= @stock_request.invoice_company.name %> <br>
          <%= @stock_request.invoice_company.phone if @stock_request.invoice_company.phone.present? %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-grey" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <%= link_to "Send", {:action => 'send_notifications', :stock_request_id => @stock_request.id}, {:class => 'btn btn-satblue', :id => 'email_send_button'} %>
  </div>
</div>
